
body {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Karla', sans-serif;
  }
  
  body p { 
    font-weight: 400;
    color: white;

  }
  
  body h1, h2, h3{
    color: white;
    font-weight: 700;
  }